// Breakpoints
$breakpoint-xs: 320px;
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;

// Colors
$color-gray-400: #999999;
$color-primary: #4b96ff;
$color-primary-d: #3b81e1;
